<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftyStoryboard-Mac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SwiftyStoryboard-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SwiftyStoryboard.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE1ADDFF1D60B649002B0AF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE1ADE081D60B649002B0AF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE65B02D1D60D6AB008A01C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CED281F11D592B980014733D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
